* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* DEFAULT */

body {
	font-family: verdana, helvetica, arial, sans;
	background-color: #333;
}

a {
	text-decoration: none;
}

h3 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

hr {
	margin: 10px;
	background-color: #888;
	height: 1px;
	border-style: hidden;
}

/* PAGE CONTAINER */

.page-container {
	width: 1000px;
	height: 800px;
	margin: 0px auto;
}


/* PAGE HEADER */

.page-header {
	height: 62px;
	background-color: #333;
}

.page-header h1 {
	padding-left: 30px;
	font-size: 32px;
	line-height: 50px;
	color: #CEE;
	font-weight: bold;
}


/* PAGE NAVIGATION */

.page-nav {
	height: 36px;
	background-color: #333;
	border-top: solid 1px #666;
	border-bottom: solid 1px #666;
}

.page-nav li {
	display: inline-block;
	width: 333px;
	line-height: 36px;
	border-left: 1px solid #666;
	font-size: 20px;
	font-weight: bold;
	color: #EEE;
	text-align: center;
}

.page-nav li:first-child {
	border-left-style: hidden;
}

.page-nav li a {
	display: block;
	color: #EEE;
}

.page-nav li a:hover {
	background-color: #555;
}


/* PAGE CONTENT */

.page-content {
	background-color: #EEE;
}

.page-column-container {
	width: 100%;
}

.page-column {
	display: inline-block;
	min-height: 50px;
	vertical-align: top;
}


/* SOFT FORMS - are located on the side columns to allow simple actions
 *  with possibly some attributes 
 */
 
.soft-form {
	margin: 10px;
	background-color: #822;
	text-align: center;
	line-height: 30px;
}

.build-switch-column .soft-form a {
	margin: 0px;
}



/* ABOUT PAGE */

.about-content-column {
	width: 1000px;
	background-color: #FFB;
}

h2 {
	margin: 10px;
	padding-top: 5px;
	font-size: 20px;
	border-bottom: dotted 1px #333;
}

p {
	margin: 10px;
	text-indent: 20px;
	line-height: 1.5;
}


/* BUILD PAGE */

.build-switch-column {
	width: 180px;
	height: 620px;
	background-color: #FBB;
}

.build-switch-column a {
	display: block;
	margin: 10px;
	line-height: 30px;
	text-align: center;
	background-color: #F66;
}

.build-main-column {
	width: 820px;
	height: 620px;
	background-color: #BBB;
}


/* BUILD - EQUIPMENT PAGE */

.build-hangar-column {
	width: 600px;
	height: 620px;
	background-color: #DFB;
}

.build-armament-column {
	width: 220px;
	height: 620px;
	text-align: center;
	background-color: #BFB;
}

.build-color-column {
	width: 100%;
	height: 100px;
	background-color: #DFB;
}

.build-mech-column {
	width: 100%;
	height: 360px;
	background-color: #DFD;
}



.weapon-option {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 130px;
	margin: 5px;
	line-height: 20px;
	text-align: center;
	background-color: #B8B;
	z-index: 100;
}

.weapon-option img {
	display: block;
	width: 50px;
	height: 80px;
	margin: 5px auto;
	background-color: #989;
}

.mech-blueprint {
	position: relative;
	width: 400px;
	height: 340px;
	margin: 0px auto;
	background-color: #9A9;
}

.mech-blueprint .mech-image {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 300px;
	height: 200px;
	background-color: #898;
}

.mech-blueprint .mech-left-slot {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 130px;
	background-color: #BCB;
}

.mech-blueprint .mech-right-slot {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	height: 130px;
	background-color: #BCB;
}

.mech-blueprint .mech-off-slot {
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 80px;
	height: 130px;
	margin-left: -38px;
	background-color: #BCB;
}

.mech-blueprint .slot-accept {
	background-color: #DED;
}

.color-box {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.color-box-selected {
	border: 5px solid black;
}



/* BUILD - INTELLIGENCE PAGE */

.build-algorithm-column {
	width: 520px;
	height: 620px;
	overflow: auto;
	background-color: #BFF;
}

.build-options-column {
	width: 300px;
	height: 620px;
	padding: 0px 5px;
	background-color: #FBF;
}

.ruleset-rule-container {
	padding: 10px;
	background-color: #AAA;
}

.ruleset-rule-entry {
	margin-bottom: 10px;
	background-color: #BBB;
	text-align: center;
}

.ruleset-rule-insert {
	display: block;
	height: 50px;
	background-color: #B8B;
	text-align: center;
}

.ruleset-order-row {
	height: 30px;
	background-color: #DDD;
}

.ruleset-order-button {
	display: inline-block;
	width: 60px;
	height: 30px;
	background-color: #EEE;
}

.ruleset-condition-row {
	height: 50px;
	background-color: #2B2;
}

.ruleset-condition-entry {
	display: inline-block;
	width: 400px;
	height: 50px;
	margin: 0px 0px;
	padding: 10px;
	vertical-align: top;
	text-align: left;
	background-color: #6D6;
}

.ruleset-condition-remove {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px 0px;
	vertical-align: top;
	background-color: #CFC;
}

.ruleset-condition-insert {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 30px 0px 0px -20px;
	vertical-align: top;
	z-index: 50;
	background-color: #DFD;
}

.ruleset-condition-slot {
	display: inline-block;
	width: 135px;
	height: 30px;
	margin-left: 10px;
	background-color: #AFA;
}

.ruleset-action-row {
	height: 50px;
	background-color: #B22;
}

.ruleset-action-entry {
	display: inline-block;
	width: 360px;
	height: 50px;
	margin: 0px 0px;
	padding: 10px;
	vertical-align: top;
	text-align: left;
	background-color: #D66;
}

.ruleset-action-remove {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px 0px;
	vertical-align: top;
	background-color: #FCC;
}

.ruleset-action-insert {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 30px 0px 0px -20px;
	vertical-align: top;
	z-index: 50;
	background-color: #FDD;
}

.ruleset-action-slot {
	display: inline-block;
	width: 135px;
	height: 30px;
	margin-left: 10px;
	background-color: #FAA;

}

.ruleset-condition-row select, .ruleset-action-row select {
	margin-left: 20px;
	height: 30px;
	vertical-align: top;
}

.ruleset-condition-row option, .ruleset-action-row option {
	height: 30px;
}



.condition-option {
	display: inline-block;
	width: 135px;
	height: 30px;
	margin: 5px;
	line-height: 30px;
	text-align: center;
	background-color: #8B8;
}

.action-option {
	display: inline-block;
	width: 135px;
	height: 30px;
	margin: 5px;
	line-height: 30px;
	text-align: center;
	background-color: #B88;
}
	
	
